.env
*.env.local
*.env.*.local

tailwindcss
tailwindcss-linux-x64
tailwindcss-macos-arm64
tailwindcss-macos-x64
tailwindcss-windows-x64.exe

*.sh.local

/vendor/
composer.lock

*.cache
/cache/

/logs/
*.log

/public/uploads/

/docker/data/
/docker/mysql/
/docker/mariadb/
/data/

*.sql.bak
*.sql.tmp

/phpmyadmin/config.inc.php


.DS_Store
.AppleDouble
.LSOverride

.directory
*~

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

.vscode/
*.code-workspace

*.swp
*.swo
*.un~
Session.vim
.netrwhist

*.sublime-project
*.sublime-workspace

*.tmp
*.bak
*.orig
*.rej
.sass-cache/
node_modules/
